*{
  font-family: century gothic;
}
.menu-header{
  height: 180px;
  width: 350px;
background: #4dbd71;
background: linear-gradient(90deg, #4dbd71 0%, #2167b9 100%);
box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
transform: rotate(-15deg);
border-radius: 10px 10px 10px 50px;
margin-left: -18px;
margin-top: -50px;
margin-bottom: 60px;
}
.header-menu{
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;
   
  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 14px;
  }
  h2{
    font-weight: 300;
    color:#fff;
  }
}
.menu{
  margin: 0px;
  ion-icon{
    margin-right: 20px;
    color: #005851;
    ;
  }
  
  ion-item{
    padding-left: 20px;
    margin-bottom: 10px;
  }
}
h1{
  font-family: century gothic;
  font-size: medium;
  color: white;
}
h3{
  font-family: century gothic;
  font-size: small;
  color: white;
}