<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
       <div class="menu-header"></div>
       <div class="header-menu">
       <img src ="/assets/logo.png" alt="">
        <ion-label>
          <h1>MANALO'S HARDWARE</h1>
          <h3>Inventory and POS</h3>
        </ion-label>
      </div>
      <ion-list  class="menu" line="none">
        <ion-item>
          <ion-icon name="pie-chart-outline"></ion-icon>Dashboard
        </ion-item>
        <ion-item>
          <ion-icon name="albums-outline"></ion-icon>Products
        </ion-item>
        <ion-item>
          <ion-icon name="layers-outline"></ion-icon>Category
        </ion-item>
        <ion-item>
          <ion-icon name="bar-chart-outline"></ion-icon>Sales Report
        </ion-item>
        <ion-item>
          <ion-icon name="exit-outline"></ion-icon>Sign Out
        </ion-item>

      </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
