<ion-content style="border-left: 5px solid #ffde59"> 

    <div class="head">
       <h3>Welcome Admin,<br>this app can help you to<br> solve 
        the challenges that arise.</h3>
          
           <h1>Please Login to continue</h1>
   </div>
    <div class="form">
       <ion-input type="email" placeholder="Email"></ion-input>
       <ion-input type="password" placeholder="Password"></ion-input>
    </div>
   
    <div class="button login">
   login <ion-icon name="chevron-forward-outline" (click)="admin()"></ion-icon>
     </div>
  
    
   </ion-content>










