<ion-content style="border-left: 1px solid #3A3B3C"> 

    <div class="head">
     
      <h1>Welcome, Admin!</h1>
          
      <h5>Please Login to continue</h5>
          
   </div>
    <div class="form">
       <ion-input type="email" placeholder="Email"></ion-input>
       <ion-input type="password" placeholder="Password"></ion-input>
    </div>
   
    <div class="button login">
   LOGIN <ion-icon name="chevron-forward-outline" (click)="admin()"></ion-icon>
     </div>
  
    
   </ion-content>










